.pets-header {
  padding-top: 30px;
  padding-bottom: 31px;
}

.logo-title {
  color: #545454;
}

.logo-subtitle {
  color: #292929;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding-left: 35px;
} 

.main-nav a {
  color: #545454;
}

.main-nav a:focus,
.main-nav a:active {
  outline: none;
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
} 

.main-nav a:hover {
  color: #292929;
}

.our-friends-block {
  padding-top: 80px;
}

.our-friends-block .content-title {
  margin-top: 0;
  margin-bottom: 60px;
}

.our-friends-block .content-title span {
  display: block;
}

.pets-page  .cards {
  justify-content: space-between;
  margin-bottom: 30px;
}

.pets-page .cards .card-inner {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pets-page .card {
  max-width: 310px;
  margin-left: 0;
  margin-right: 0;
  width: 22.5%; 
  margin-bottom: 30px;
}

.our-friends-block .pets-pages-btn {
  width: 52px;
  height: 52px;
  padding: 0;
  font-size: 20px;
}

.our-friends-block .pets-pages-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.pets-pages-buttons .pets-pages-btn:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
}
