*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.not-only-block {
    padding-top: 30px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 90px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    width: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #F1CDB3;
}

.logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    color: #F1CDB3;
}

.logo-subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    padding-left: 35px;
}

.main-nav a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
}

.main-nav a:focus {
    outline: none;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.start-screen-content {
    display: flex;
}   

.start-screen-content .content {
    width: 42%;
    margin-right: 42px;
}
.start-screen-content .content-title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
}

.start-screen-content .content-paragraph {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #CDCDCD;
    /* font-size: 15px;
    line-height: 160%; */
}

.round-btn {
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-size: 17px;
    color: #292929;
    cursor: pointer;
}

.primary-background-color {
    background-color: #F1CDB3;
}

.round-btn:hover {
    background-color: #FDDCC4;
}

.start-screen-content .picture {
    width: 58%;
}

.start-screen-content .picture img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 698px;
}

.about-block {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-block .picture img {
    max-width: 300px;
}

.about-content {
    width: 35%;
}

.about-block .content-title,
.our-friends-block .content-title {
    color: #545454;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
}

.about-block .content-paragraph {
    color: #4C4C4C;
}

.our-friends-block {
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

.our-friends-block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends-block .content-title {
    max-width: 400px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
}

.our-friends-block .content-title span {
    display: block;
}

.our-friends-block .cards {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.our-friends-block .card {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.our-friends-block .card-title {
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
}

.small-btn {
    position: absolute;
    font-size: 10px;
    padding: 0;
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    top: calc(50% - 200px/2);
}

.our-friends-block .left-btn {
    left: -82px;
}

.our-friends-block .right-btn {
    right: -82px;
}
