*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.not-only-block {
    padding-top: 30px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 90px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    width: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #F1CDB3;
}

.logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    color: #F1CDB3;
}

.logo-subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    padding-left: 35px;
}

.main-nav a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
}

.main-nav a:focus {
    outline: none;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.start-screen-content {
    display: flex;
}   

.start-screen-content .content {
    width: 42%;
    margin-right: 42px;
}
.start-screen-content .content-title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
}

.start-screen-content .content-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    color: #CDCDCD;
    font-size: 15px;
    line-height: 160%;
}

.start-screen-content .content-btn {
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    color: #292929;
    cursor: pointer;
}

.start-screen-content .content-btn:hover {
    background-color: #FDDCC4;
}

.start-screen-content .picture {
    width: 58%;
}

.start-screen-content .picture img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 698px;
}

