*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
       
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.not-only-block {
    padding-top: 30px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
}

.logo-link {
    width: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #F1CDB3;
}

.logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}

.logo-subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    padding-left: 35px;
}

.main-nav a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
}

.main-nav a:focus,
.main-nav a:active,
.main-nav .focus {
    outline: none;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.main-nav a:hover {
    color: #FAFAFA;
}

.burger {
    display: none;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
}

.burger .burger-line {
    border-top: 2px solid #F1CDB3;
    width: 30px;
    height: 2px;
}
  
.start-screen-content {
    display: flex;
    margin-top: 97px;
}   

.start-screen-content .content {
    width: 39%;
    margin-right: 42px;
}
.start-screen-content .content-title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 130%;
    font-weight: 400;
    margin-top: 158px;
    margin-bottom: 43px;
    text-align: start;
    letter-spacing: normal;
}

.start-screen-content .content-title span {
    display: block;
}

.start-screen-content .content-paragraph {
    color: #CDCDCD;
    margin-bottom: 56px;
}

.round-btn {
    padding: 15px 43px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-size: 17px;
    color: #292929;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 0.06em;
}

.primary-background-color {
    background-color: #F1CDB3;
}

.round-btn:hover:not([disabled]),
.active {
    background-color: #FDDCC4;
}

.start-screen-content .picture {
    width: 58%;
}

.start-screen-content .picture img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 698px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 88px;
}

.about-block .about-picture {
    margin-left: 15%;
}

.about-block .about-picture img {
    max-width: 300px;
}

.about-content {
    width: 35%;
    margin-right: 15%;
}

.content-title {
    color: #545454;
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
}

.about-block .content-title {
    text-align: start;
    margin-top: 14px;
    margin-bottom: 25px;
}

.about-block .content-title span {
    display: block;
}

.about-block .content-paragraph {
    color: #4C4C4C;
    margin: 0 0 25px 0;
}

.our-friends-block {
    background-color: #F6F6F6;
    padding-bottom: 98px;
}

.our-friends-block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends-block .content-title {
    max-width: 400px;
    margin-bottom: 60px;
    margin-top: 80px;
}

.our-friends-block .content-title span {
    display: block;
}

.our-friends-block .cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
}

.our-friends-block .card {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 9px;
    background-color: #FAFAFA;
    margin-left: 45px;
    margin-right: 45px;
}

.our-friends-block .card img {
    width: 100%;
}

.our-friends-block .card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 25px 0 25px 0;
}

.our-friends-block .card .round-btn {
    margin-bottom: 30px;
    display: block;
}

.small-btn {
    position: absolute;
    font-size: 15px;
    padding: 0;
    display: block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    text-align: center;
    top: calc(50% - 110px/2);
}

.our-friends-block .left-btn {
    left: 0px;
}

.our-friends-block .right-btn {
    right: 0px;
}

.help-block {
    padding: 80px 27px 48px 27px;
}

.help-block .content-title {
    max-width: 312px;
    margin: 0 auto 60px auto;
}

.help-block .content-title span {
    display: block;
}

.help-block .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-block .icon {
    padding-top: 88px;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 55px;
    letter-spacing: 0.06em;
}

.help-block .ic-food {
    background: url('../../assets/images/icon-pet-food.svg') 50% 0 no-repeat;
}

.help-block .ic-transport {
    background: url('../../assets/images/icon-transportation.svg') 50% 0 no-repeat;
}

.help-block .ic-toys {
    background: url('../../assets/images/icon-toys.svg') 50% 0 no-repeat;
}

.help-block .ic-bowls {
    background: url('../../assets/images/icon-bowls-and-cups.svg') 50% 0 no-repeat;
}

.help-block .ic-shampoos {
    background: url('../../assets/images/icon-shampoos.svg') 50% 0 no-repeat;
}

.help-block .ic-vits {
    background: url('../../assets/images/icon-vitamins.svg') 50% 0 no-repeat;
}

.help-block .ic-medicines {
    background: url('../../assets/images/icon-medicines.svg') 50% 0 no-repeat;
}

.help-block .ic-collars {
    background: url('../../assets/images/icon-collars-leashes.svg') 50% 0 no-repeat;
}

.help-block .ic-sleep {
    background: url('../../assets/images/icon-sleeping-area.svg') 50% 0 no-repeat;
}

.in-addition-block {
    color: #545454;
    letter-spacing: 0.06em;
    padding-top: 80px;
    padding-bottom: 88px;
    background-color: #F6F6F6;
}

.in-addition-block-inner {
    display: flex;
    justify-content: center;
}

.in-addition-block .in-addition-picture {
    width: 42%;
    max-width: 505px;
    padding-top: 10px;
}

.in-addition-block .in-addition-picture img {
    width: 100%;
    height: auto;
}

.in-addition-block .in-addition-content {
    width: 32%;
    max-width: 380px;
    margin-left: 30px;
}

.in-addition-block .content-title {
    text-align: start;
    margin: 0 0 19px 0;
}

.in-addition-block .content-title span {
    display: block;
}

.in-addition-block .content-subtitle {
    line-height: 110%;
    margin: 0 0 29px 0;
}

.in-addition-block .credit-card-number {
    padding: 10px 15px 10px 61px;
    border-radius: 9px;
    font-size: 20px;
    line-height: 115%;
    margin-right: 20px;
    background: url('../../assets/images/credit-card.svg') 15px 50% no-repeat, #F1CDB3;
    color: #545454;
    text-decoration: none;
    cursor: pointer;
    word-spacing: 1px;
}

.in-addition-block .credit-card-number:hover {
    background-color: #FDDCC4;
    color: #FAFAFA;
}

.in-addition-block .content-paragraph {
    font-size: 12px;
    line-height: 150%;
    font-style: italic;
    color: #B2B2B2;
    margin-top: 31px;
    letter-spacing: normal;
}

.footer {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 20px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 26%;
    max-width: 300px;
}

.footer-content:nth-child(2) {
    max-width: 315px;
}

.footer-content:nth-child(2) .link {
    margin-top: 0px;
    padding-left: 35px;
}

.footer-content .content-title {
    color: #FFFFFF;
    text-align: start;
}

.footer .link {
    font-size: 20px;
    color: #F1CDB3;
    text-decoration: none;
    position: relative;
    padding-left: 59px;
    margin-bottom: 40px;
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.footer .link:hover {
    color: #FFFFFF;
}

.footer .link::before {
    content: '';
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -4px;
    left: 0;
}

.footer .email::before {
    background: url('../../assets/images/icon-email.svg') no-repeat;
}

.footer .phone::before {
    background: url('../../assets/images/icon-phone.svg') no-repeat;
}

.footer .marker::before {
    background: url('../../assets/images/icon-marker.png') no-repeat;
}

.footer-content img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.footer .footer-content:nth-child(2) .link:nth-child(2)::before {
    top: 7px;
}
