footer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

footer .copyright a {
  color: #444;
}

footer .copyright a:hover {
  color: #555;
}

footer .copyright:before {
  content: "©";
}

footer .logo {
  width: 100px;
}

.footer .copyright,
.footer .logo {
  padding: 0 10px;
}
