.garage-page {
  position: relative;
}

.race-buttons {
  margin-bottom: 10px;
}

.race-buttons button {
  padding: 5px;
  margin: 3px;
  border: transparent;
  border-radius: 3px;
  background: linear-gradient(to right, #ff9800, #ff9800, #ffffff);
  cursor: pointer;
}

.race-buttons button:hover {
  background: linear-gradient(to left, #ff9800, #ff9800, #ffffff);
}

.garage-page .title {
  color: white;
}

.winner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 900;
  color: blueviolet;
}
