.editor-viewer-blocks-wrapper {
  display: flex;
}

.html-viewer-block {
  width: 40%;
}

.css-editor-block {
  width: 40%;
}

.css-editor,
.html-viewer {
  display: flex;
  align-items: start;
  border: 1px solid grey;
}

.line-numbers {
  margin: 0;
  padding: 0 10px;
  background: lightgray;
  list-style: none;
  text-align: end;
  color: #a1a1a1;
}

.editor-input-form {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.editor-input {
  width: 90%;
  background: aliceblue;
  border-style: none;
}

.line-numbers-item {
  font-size: 20px;
}

.html-viewer {
  background: grey;
}

.html-viewer > .line-numbers {
  background: grey;
}

.layout {
  padding: 0 10px;
  font-size: 20px;
}

.layout div {
  padding-left: 20px;
}

.layout > div {
  padding-left: 0;
}

.hovered {
  color: white;
}

.editor-viewer-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  color: lightgray;
}
