.editor-viewer-blocks-wrapper {
  display: flex;
}

.html-viewer-block,
.css-editor-block {
  width: 40%;
}

.css-editor,
.html-viewer {
  display: flex;
  align-items: start;
  border: 1px solid grey;
}

.line-numbers {
  margin: 0;
  padding: 0 10px;
  background: lightgray;
  list-style: none;
  text-align: end;
  color: #a1a1a1;
}

.line-numbers-item {
  font-size: 20px;
}

.hovered {
  color: white;
}
