.car-block {
  border-bottom: 1px dotted white;
}

.car-block-header {
  margin-bottom: 10px;
}

.car-block-header * {
  margin-right: 5px;
}

.car-name {
  color: yellow;
}

.track {
  display: flex;
  justify-content: space-between;
}

.car {
  display: flex;
  align-items: flex-start;
}

.car-image {
  width: 100px;
}

.flag {
  width: 40px;
  margin-right: 50px;
}
