@media screen and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  .start-screen-content {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
  }

  .start-screen-content .content {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .start-screen-content .content-title {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .start-screen-content .content-paragraph {
    margin-bottom: 40px;
  }

  .start-screen-content .content .round-btn {
    align-self: center;
    margin-bottom: 100px;
  }

  .start-screen-content .picture {
    width: 80%;
    margin-left: 19%;
  }

  .about-block {
    flex-wrap: wrap;
    padding-top: 67px;
    margin-bottom: 100px;
    justify-content: center;
  }

  .about-block .about-picture {
    order: 1;
    display: flex; 
    margin-left: 0;
  }

  .about-block .about-content {
    width: 60%;
    margin-right: 0;
    margin-bottom: 53px;
  }

  .our-friends-block .cards > .card:last-child,
  .pets-page .cards > .card:nth-child(7) {
    display: none;
  }

  .our-friends-block .card {
    width: 37.5%;
    margin-left: 22px;
    margin-right: 22px;
  }

  .our-friends-block .card-title {
    margin-top: 29px;
  }

  .pets-page {
    padding-bottom: 75px;
  }
  
  .pets-page .content-title {
    margin-bottom: 30px;
  }

  .pets-page .cards {
    justify-content: center;
    margin-bottom: 10px;
  }

  .help-block {
    padding-bottom: 44px;
  }

  .help-block .icons {
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
  }

  .help-block .icon {
    width: 170px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-bottom: 57px;
  }

  .in-addition-block {
    padding-bottom: 100px;
  }

  .in-addition-block-inner {
    flex-wrap: wrap;
  }

  .in-addition-block-inner .in-addition-picture {
    width: 100%;
    order: 1;
    display: grid;
  }

  .in-addition-block-inner .in-addition-content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 38px;
  }

  .footer {
    padding-top: 32px;
  }

  .footer-inner {
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 20px;
  }

  .footer-inner .footer-content {
    width: 50%;
  }

  .footer-inner .footer-content:last-child {
    width: 100%;
    margin: 5px auto 0 auto;
  }

  .footer-content .content-title {
    margin-top: 0;
    margin-bottom: 33px;
  }
}